{% extends "base.html" %}

{% block title %}Home page {% endblock title %}

<style>
  .table
  {
    background-color: aliceblue;
  }
</style>

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Mail</th>
      <th scope="col">Phone</th>
      <th scope="col">Age</th>
      <th scope="col">Jins</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data1 %}
      <tr>
          <td>{{i.firstname}}</td>
          <td>{{i.lastname}}</td>
          <td>{{i.cmail}}</td>
          <td>{{i.phone}}</td>
          <td>{{i.age}}</td>
          <td>{{i.male}}</td>
          <td>{{i.password}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
